.emailList {
    flex: 1;
    overflow:scroll;
}

.emaiList_settings {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList_sections {
    position: sticky;
    top:0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    

}

.emailList_list {
    padding-bottom: 20px;
}

.emailList ::-webkit-scrollbar{
    display: none;
}